<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人博客 - 厚德载物，自强不息</title>
    <meta name="keywords" content="个人博客, PHP开发工程师, 编程技术" />
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/public/css/base.css" rel="stylesheet">
    <link href="/public/css/index.css" rel="stylesheet">
    <link href="/public/css/m.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/public/js/modernizr.js"></script>
    <![endif]-->

    <script src="/public/js/page.js"></script>
</head>
<body>
<header>
<div id="mnav">
    <div class="logo"><a href="/">个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">

        <li><a href="/">首页</a></li>

        <li><a href="/index/recommend">推荐</a></li>

        <?php foreach($base['categories'] as $category) { ?>

            <li><a href="/index/category?id=<?=$category['id']?>"><?=$category['title']?></a></li>

        <?php } ?>

        <li><a href="/index/about">关于我</a></li>
    </ul>
</div>

<script type="text/javascript">
    window.onload = function () {
        var oH2 = document.getElementById("mnavh"); 
        var oUl = document.getElementById("starlist");  
        oH2.onclick = function () {
            var style = oUl.style;
            style.display = style.display == "block" ? "none" : "block";
            oH2.className = style.display == "block" ? "open" : ""
        }
    }
</script>
 
</header>
<div class="line46"></div>

